html,
body {
    width: 90%;
    height: 90%;
    margin: 5px;
    background: #dbdcdf83;
}

canvas {
    margin: 5px;
    padding: 5px;
    background: #ffffff;
    border: thin inset #a88e8e;
}

#canvas {
    margin: 20px;
    padding: 20px;
    background: #ffffff;
    border: thin inset #a88e8e;
    width: 600px;
    height: 300px;
}

#canvas_anim {
    margin: 5px;
    /* padding: 5px; */
    background: #ffffff;
    border: thin inset #a88e8e;
}

#canvas_car {
    margin: 20px;
    padding: 20px;
    background: #ffffff;
    border: thin inset #a88e8e;
}

#canvas_spritesheet_1 {
    margin: 20px;
    padding: 20px;
    background: #ffffff;
    border: thin inset #a88e8e;
}

#canvas_clipping {
    margin: 20px;
    padding: 20px;
    background: #ffffff;
    border: thin inset #a88e8e;
}