body {
    background: #dbdcdf83;
}

#canvas {
    margin: 20px;
    padding: 20px;
    background: #ffffff;
    border: thin inset #a88e8e;
    width: 600px;
    height: 300px;
}

#canvas_anim {
    margin: 5px;
    /* padding: 5px; */
    background: #ffffff;
    border: thin inset #a88e8e;
    width: 600px;
    height: 300px;
}

#canvas_car {
    margin: 20px;
    padding: 20px;
    background: #ffffff;
    border: thin inset #a88e8e;
    width: 600px;
    height: 300px;
}

#canvas_spritesheet_1 {
    margin: 20px;
    padding: 20px;
    background: #ffffff;
    border: thin inset #a88e8e;
    width: 500px;
    height: 500px;
}
#canvas_clipping {
    margin: 20px;
    padding: 20px;
    background: #ffffff;
    border: thin inset #a88e8e;
    width: 500px;
    height: 500px;
}